@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#header {
  background: var(--bg_header) top right no-repeat, var(--primary);
  background-size: auto 100%;
  display: flex;
  min-height: 80px;
  font-family: "Be Vietnam Pro", sans-serif;
  z-index: 2;
  position: relative;
}

#header p {
  margin: 0;
}

#header .mid {
  flex: 1;
}

#header .left {
  width: 290px;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  margin-right: 20px;
  font-weight: 700;
  background: var(--bg_header_left) right center no-repeat;
}

#header .mid {
  display: flex;
  align-items: center;
  flex: 1;
}

#header .logo img {
  width: 70px;
  height: auto;
  display: block;
  margin-right: 20px;
}

#header .nameProduct {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

#header .nameProduct p:nth-child(1) {
  color: var(--color_product);
  font-weight: 800;
}
#header .nameProduct p:nth-child(2) {
  color: #ffffff;
  font-weight: 700;
}

#header .nameGroupProduct {
  color: var(--color_product);
}

#header a {
  color: inherit;
  text-decoration: none;
}
#header .userInfo {
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}
#header .userInfo:hover .mnSub {
  display: block;
}
#header .mnSub {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 230px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px #00000033;
}

#header .right {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

#header .userInfo .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header .userInfo .imageUser {
  display: flex;
  align-items: center;
  gap: 3px;
}
#header .userInfo .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#header .userInfo .userName {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}

#header .mnSub ul {
  padding: 7px 0;
  margin: 0;
  list-style: none;
}

#header .mnSub ul a {
  padding: 6px 20px 7px 20px;
  display: flex;
  gap: 6px;
  align-items: center;
  transition: 0.3s all ease-in-out;
}
#header .mnSub ul a span {
  margin-top: 2px;
}
#header .mnSub ul a:hover {
  background: #f4f4f4;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  #header {
    padding: 0 10px;
    background: var(--primary);
    justify-content: space-between;
    gap: 10px;
  }
  #header .left {
    display: none;
  }
  #header .mid {
    flex: 1;
    display: flex;
  }
  #header .logo img {
    margin-right: 10px;
    width: 60px;
  }
  #header .nameProduct {
    font-size: 16px;
  }
  #header .right {
    padding-right: 0;
  }
  #header .userInfo {
    margin-left: 0;
  }
  #header .userInfo .userName {
    display: none;
  }
  #header .userInfo .imageUser svg:first-child {
    width: 27px;
    height: 27px;
  }
  #header .userInfo .imageUser svg:last-child {
    display: none;
  }
}
